/* Media queries */

/* Laptop Device  (max-width:1200px)  */

@media screen and (max-width: 1200px) {
  .container {
    width: 98%;
  }
  .hero-content * {
    margin-bottom: 12px;
  }
  .hero-content p {
    line-height: 24px;
  }
  .card {
    gap: 18px;
    padding: 30px 20px;
  }
  /* .product * {
    margin-bottom: 20px;
  } */
  br {
    display: none;
  }
  .products-card-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  /* .product {
    width: 100%;
  } */
}

/*  Tablet Device (max-width:992px) */
@media screen and (max-width: 992px) {
  .container {
    width: 99%;
  }
  #hero-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 110px;
  }
  .hero-content {
    text-align: center;
  }
  .category-card {
    flex-wrap: wrap;
  }
  .heading {
    text-align: center;
  }
  br {
    display: none;
  }
  #footer-container {
    padding: 114px;
  }
}

/*  Mobile Device from 320px to (max-width:640px)  */

@media screen and (max-width: 640px) {
  #category,
  #shoes,
  #backpack {
    margin-bottom: 40px;
  }
  #footer {
    margin-bottom: 25px;
  }
  .container {
    width: 96%;
    margin: 0 auto;
  }

  #nav {
    margin-top: 10px;
  }
  #nav-container {
    padding: 5px 0;
  }
  #hero-container {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 25px;
  }
  .hero-image img {
    width: 100%;
    max-width: 400px;
  }
  br {
    display: none;
  }
  .card {
    flex-direction: column-reverse;
    padding: 20px;
  }
  .product * {
    margin-bottom: 15px;
  }
  .product h3 {
    font-size: 20px;
  }
  #footer-container {
    padding: 5px;
  }
  #footer-container h2 {
    font-size: 27px;
  }
  #footer-container p {
    font-size: 14px;
  }
  #footer-container form {
    flex-direction: column;
    align-items: center;
  }
  #footer-container form input[type="email"] {
    width: 230px;
    padding: 10px;
    border: none;
  }

  #footer-container form .footer-button {
    /* border-top-left-radius: 6px;
    border-bottom-left-radius: 6px; */
    border-radius: 6px;
    margin-top: 10px;
  }
  .btn-primary {
    padding: 12px 25px;
  }
}
