* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* font-family: "Inter", sans-serif; */
}

/* common styles */
.hide {
  display: none;
}
.container {
  width: 87%;
  margin: auto;
}
.btn-primary {
  background-image: linear-gradient(to right, #ff589b, #ff136f);
  padding: 14px 30px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}
.btn-primary:hover {
  background: rgba(11, 19, 190);
  font-weight: 900;
  font-size: 25px;
  transition: ease-out 1s;
}
.product-btn {
  cursor: pointer;
  background: #000000;
  color: #ffffff;
  padding: 16px 55px;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
.product-btn:hover {
  background: rgba(110, 0, 190);
  font-weight: 900;
  font-size: 25px;
  transition: ease-out 0.5s;
}

/* black button design start */
/* .sec-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 11px;
}
.sec-btn button {
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 40px;
  margin-right: 23px;
  padding-left: 10px;
  padding-right: 60px;
  border-radius: 12px;
  border: none;
}
.sec-btn i {
  position: absolute;
  right: 80px;
  color: #ffffff;
  font-size: 20px;
} */
/*! black button desiGN END */

#nav {
  margin-top: 30px;
  margin-bottom: 50px;
}
#hero {
  margin-bottom: 60px;
}
#category,
#shoes,
#backpack,
#footer {
  margin-bottom: 100px;
}
.heading {
  font-size: 36px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  padding: 50px 40px;
  border-radius: 12px;
  flex: 1;
}
.card h3 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

/* navbar styles */
#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}
/* !navbar style closed */

/* hero styles */
#hero-container {
  background: #feeae9;
  box-shadow: ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 3px 10px 1px #929292;
}
.hero-content * {
  margin-bottom: 20px;
}
.hero-content h1 {
  color: #1f1f1f;
  font-size: 46px;
}
.hero-content p {
  color: #4e4e4e;
  font-weight: 500;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.hero-content h2 {
  color: #ff136f;
  font-size: 41pz;
  font-weight: 600;
}

/* !hero style closed */

/* category styles */
.category-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
/*! category style end */

/* products section  */
/* shoes */
.products-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.product * {
  margin-bottom: 30px;
}
.product {
  border: 2px solid #929292;
  padding: 20px;
  width: 445px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 2px #929292;
}

.product h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1f1f1f;
}
.product p {
  line-height: 26px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #4e4e4e;
}
.product h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
.product img {
  width: 100%;
  max-width: 300px;
}
/* shoes style end */

/* backpack */
.backpack-img img {
  max-width: 290px;
  width: 100%;
}
/*!backpack ends */

/*!products section ENDS  */

/* footer styles */
#footer-container {
  background: #fff2f1;
  text-align: center;
  padding: 200px;
  border-radius: 6px;
  box-shadow: 0px 2px 8px 1px #929292;
}
#footer-container h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 8px;
}
#footer-container p {
  font-weight: 600;
  color: #707070;
}

#footer-container form {
  display: flex;
  justify-content: center;
  margin-top: 18px;
}

#footer-container form input[type="email"] {
  width: 680px;
  padding: 23px;
  border: none;
  font-family: "Inter", sans-serif;
}
input[type="email"]::placeholder {
  color: #cccccc;
  font-weight: 400;
  font-size: 23px;
}
#footer-container form .footer-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
