* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* font-family: "Inter", sans-serif; */
}

/* common styles */
.container {
  width: 87%;
  margin: auto;
}
.btn-primary {
  background-image: linear-gradient(to right, #ff589b, #ff136f);
  padding: 14px 30px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}
.product-btn {
  background: #000000;
  color: #ffffff;
  padding: 16px 55px;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
}

/* black button design start */
/* .sec-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 11px;
}
.sec-btn button {
  font-size: 20px;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  padding: 14px 40px;
  margin-right: 23px;
  padding-left: 10px;
  padding-right: 60px;
  border-radius: 12px;
  border: none;
}
.sec-btn i {
  position: absolute;
  right: 80px;
  color: #ffffff;
  font-size: 20px;
} */
/*! black button desiGN END */

#nav {
  margin-top: 30px;
  margin-bottom: 50px;
}
#hero {
  margin-bottom: 60px;
}
#category,
#shoes {
  margin-bottom: 100px;
}
.heading {
  font-size: 36px;
  font-weight: 700;
  color: #1f1f1f;
  margin-bottom: 20px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  padding: 50px 40px;
  border-radius: 12px;
  flex: 1;
}
.card h3 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}

/* navbar styles */
#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}
/* !navbar style closed */

/* hero styles */
#hero-container {
  background: #feeae9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 40px;
}
.hero-content * {
  margin-bottom: 20px;
}
.hero-content h1 {
  color: #1f1f1f;
  font-size: 46px;
}
.hero-content p {
  color: #4e4e4e;
  font-weight: 500;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.hero-content h2 {
  color: #ff136f;
  font-size: 41pz;
  font-weight: 600;
}

/* !hero style closed */

/* category styles */
.category-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
/*! category style end */

/* shoes */
.products-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.product * {
  margin-bottom: 30px;
}
.product {
  border: 2px solid #929292;
  padding: 20px;
  width: 445px;
  border-radius: 20px;
  box-shadow: 0px 6px 20px 1px #929292;
}

.product h3 {
  font-size: 24px;
  font-weight: 600;
  color: #1f1f1f;
}
.product p {
  line-height: 26px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #4e4e4e;
}
.product h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
.product img {
  width: 100%;
  max-width: 300px;
}
/* shoes style end */
