* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /* font-family: "Inter", sans-serif; */
}

/* common styles */
.container {
  width: 87%;
  margin: auto;
}
.btn-primary {
  background-image: linear-gradient(to right, #ff589b, #ff136f);
  padding: 14px 30px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}
#nav {
  margin-top: 30px;
  margin-bottom: 50px;
}
#hero {
  margin-bottom: 60px;
}
#category {
  margin-bottom: 100px;
}
.heading {
  font-size: 36px;
  font-weight: 600;
  color: #1f1f1f;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
  padding: 50px 40px;
  border-radius: 12px;
  flex: 1;
}
.card h3 {
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
/* navbar styles */

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 0;
}

/* !navbar style closed */

/* hero styles */
#hero-container {
  background: #feeae9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 40px;
}
.hero-content * {
  margin-bottom: 10px;
}
.hero-content h1 {
  color: #1f1f1f;
  font-size: 46px;
}
.hero-content p {
  color: #4e4e4e;
  font-weight: 500;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}
.hero-content h2 {
  color: #ff136f;
  font-size: 41pz;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

/* !hero style closed */

/* category styles */
.category-card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* category style end */
